[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Window Title Applet
Comment=Shows windows title
Icon=windowtitle
X-XFCE-Exec=/usr/libexec/xfce4/panel-plugins/xfce4-windowtitle-plugin
