[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Window Buttons Applet
Comment=Shows window buttons
Icon=windowbuttons
X-XFCE-Exec=/usr/libexec/xfce4/panel-plugins/xfce4-windowbuttons-plugin
